body {
  margin:0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items:center;
  height:100vh;
  font-family: Arial, Helvetica, sans-serif;
}

.completed {
  text-decoration: line-through;
  color:grey;
}

div {
  border: 2px solid black;
  border-radius: 1rem;
  padding: 3rem;
}

h2 {
  text-align: center;
  color: #fb3a3a;
}

li {
  line-height: 2;
  font-size: 1.5rem;
}

.delete-btn {
  border-style: none;
  border-radius: 4px;
  background: #fb3a3a;
  color: white;
  padding: 6px;
  margin-left: 1rem;
}